
               
.ENCABEZADO{                       /* Añado estilos a la foto de mi encabezado */
  width: 100%;
  }
.superior{
  margin:0px; 
  padding:0px;
}
                                
                      
  
  .fondo{


    /* Ubicación de la imagen */

    background-image: url(jpg/fondoweb.png);



    /* Para dejar la imagen de fondo centrada, vertical y

    horizontalmente */

    background-position: center center;



    /* Para que la imagen de fondo no se repita */

    background-repeat: no-repeat;



    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

    background-attachment: fixed;



    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

    background-size: cover;



    /* Se muestra un color de fondo mientras se está cargando la imagen

    de fondo o si hay problemas para cargarla */

    background-color: #66999;
}  
  
  
  
  

 h1{
  margin-top: 20px;
 }

 
 
 @import "bourbon";

 .wrapper {	
   margin-top: 80px;
   margin-bottom: 80px;
 }
 
 .form-signin {
   max-width: 380px;
   color: white;
   padding: 15px 35px 45px;
   margin: 0 auto;
   background-color: #424242;
   border-radius: 50px;
   border: 1px solid white;  
 
   .form-signin-heading,
   .checkbox {
     margin-bottom: 30px;
   }
 
   .checkbox {
     font-weight: normal;
   }
 
   .form-control {
     position: relative;
     font-size: 16px;
     height: auto;
     padding: 10px;
     @include box-sizing(border-box);
 
     &:focus {
       z-index: 2;
     }
   }
 
 /* Diseño bloque de usuario*/
 
   input[type="text"] {
     margin-bottom: -1px;
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
   }
 
  /* Diseño bloque de contraseña*/ 
   
   input[type="password"] {
     margin-bottom: 20px;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
   }
 }

 /*Diseño color boton*/

 #Boton{
   background-color:#990D0D;
 }
 